/* NavBar Hover CSS */
.nav-bar{
    overflow: hidden;
    height: 0px;
    background-color: rgb(91, 91, 190);
    color:white;
    transition: all .5s;
    transition-timing-function: ease-out;
  }

  .slide-up{
    padding:0 !important;
    height: 0;
  }

  .slide-down{
    height: 30px;
  }

  .navigation {
    position: fixed;
    left: 50%;
    top: 2rem;
    z-index: 2;
  }
  .navigation .postBtn {
    height: 40px;
    width: 40px;
    display: block;
    background: #262626;
    position: absolute;
    z-index: 1;
    border-radius: 6px;
    cursor: pointer;
    -moz-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    -webkit-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
  }
  .navigation .postBtn:after {
    content: '+';
    width: 100%;
    position: absolute;
    text-align: center;
    line-height: 40px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    color: #575757;
    font-weight: 100;
    font-size: 1.8em;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .navigation .postToggle {
    display: none;
  }
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  .navigation li {
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
    height: 50px;
    width: 50px;
    background: #d6d6d6;
    border-radius: 50%;
    opacity: 0;
    border: 1px solid white;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.48, 0.13, 0.42, 1.45), opacity 0.2s ease-in;
    -o-transition: -o-transform 0.3s cubic-bezier(0.48, 0.13, 0.42, 1.45), opacity 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.48, 0.13, 0.42, 1.45), opacity 0.2s ease-in;
    transition: transform 0.3s cubic-bezier(0.48, 0.13, 0.42, 1.45), opacity 0.2s ease-in;
  }
  .navigation li:nth-child(2) {
    transition-delay: 0.025s;
  }
  .navigation li:nth-child(3) {
    transition-delay: 0.05s;
  }
  .navigation li:nth-child(4) {
    transition-delay: 0.075s;
  }
  .navigation li:nth-child(5) {
    transition-delay: 0.1s;
  }
  .navigation li a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .navigation .text {
    background: #363636;
  }
  .navigation .quote {
    background: #d44f2e;
  }
  .navigation .link {
    background: #44b57d;
  }
  .navigation .chat {
    background: #a26fbc;
  }
  .navigation .video {
    background: #687480;
  }
  
  .postToggle:checked ~ .postBtn {
    background: #0f0f0f;
    -moz-transform: scale(0.85, 0.85);
    -ms-transform: scale(0.85, 0.85);
    -webkit-transform: scale(0.85, 0.85);
    transform: scale(0.85, 0.85);
  }
  .postToggle:checked ~ .postBtn:after {
    content: '-';
    line-height: 38px;
  }
  .postToggle:checked ~ ul li {
    opacity: 1;
  }
  .postToggle:checked ~ ul .text {
    -moz-transform: translate(200%, 0);
    -ms-transform: translate(200%, 0);
    -webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }
  .postToggle:checked ~ ul .text:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
  .postToggle:checked ~ ul .quote {
    -moz-transform: translate(125%, 125%);
    -ms-transform: translate(125%, 125%);
    -webkit-transform: translate(125%, 125%);
    transform: translate(125%, 125%);
  }
  .postToggle:checked ~ ul .quote:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
  .postToggle:checked ~ ul .link {
    -moz-transform: translate(0, 150%);
    -ms-transform: translate(0, 150%);
    -webkit-transform: translate(0, 150%);
    transform: translate(0, 175%);
  }
  .postToggle:checked ~ ul .link:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
  .postToggle:checked ~ ul .chat {
    -moz-transform: translate(-125%, 125%);
    -ms-transform: translate(-125%, 125%);
    -webkit-transform: translate(-125%, 125%);
    transform: translate(-125%, 125%);
  }
  .postToggle:checked ~ ul .chat:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
  .postToggle:checked ~ ul .video {
    -moz-transform: translate(-200%, 0%);
    -ms-transform: translate(-200%, 0%);
    -webkit-transform: translate(-200%, 0%);
    transform: translate(-200%, 0%);
  }
  .postToggle:checked ~ ul .video:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
  }
  